<link rel="stylesheet" href="/css/default.css">
<script src="/js/jquery-3.6.0.js"></script>
<header>
    <div class="header-top">
        <div class="links">
        	<th:block th:if="${session.member == null}">
	            <a href="/member/loginFrm">로그인</a>
	            <a href="#">회원가입</a>
        	</th:block>
            <th:block th:if="${session.member != null && session.member.memberLevel == 3}">
            	<a href="#" th:text="${session.member.memberId}"></a>
	            <a href="/member/logout">로그아웃</a>
            </th:block>
            <th:block th:if="${session.member != null && session.member.memberLevel == 2}">
            	<a href="#" th:text="${session.member.memberId}"></a>
	            <a href="/member/logout">로그아웃</a>
            </th:block>
            <th:block th:if="${session.member != null && session.member.memberLevel == 1}">
            	<a href="#">관리자페이지</a>
            	<a href="#">마이페이지</a>
	            <a href="/member/logout">로그아웃</a>
            </th:block>
            <a href="#">공지사항</a>
        </div>
        <div class="logo">
            <a href="/">
                <img src="/image/logo1.jpg" alt="Logo">
            </a>
        </div>
        <nav class="header-menu">
            <ul class="menu">
                <li><a href="#">메뉴1</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="/review/list?reqPage=1">입양사진 및 후기</a></li>
                <li><a href="/adoption/list?reqPage=1">입양신청목록</a></li>
                <li><a href="#">메뉴5</a></li>
                <li><a href="#">메뉴6</a></li>
            </ul>
        </nav>
    </div>
</header>
