<link rel="stylesheet" href="/css/default.css">
<script src="/js/jquery-3.6.0.js"></script>
<header>
    <div class="header-top">
        <div class="links">
        	<th:block th:if="${session.member == null}">
	            <a href="/member/loginFrm">로그인</a>
	            <a href="/member/joinFrm">회원가입</a>
        	</th:block>
            <th:block th:if="${session.member != null && session.member.memberLevel == 3}">
            	<a href="#" th:text="${session.member.memberId}"></a>
	            <a href="/member/logout">로그아웃</a>
            </th:block>
            <th:block th:if="${session.member != null && session.member.memberLevel == 2}">
            	<a href="#" th:text="${session.member.memberId}"></a>
	            <a href="/member/logout">로그아웃</a>
            </th:block>
            <th:block th:if="${session.member != null && session.member.memberLevel == 1}">
            	<a href="/admin/adminPage?reqPage=1">관리자페이지</a>
            	<a href="#">마이페이지</a>
	            <a href="/member/logout">로그아웃</a>
            </th:block>
            <a href="/notice/list?reqPage=1">공지사항</a>
        </div>
        <div class="logo">
            <a href="/">
                <img src="/image/logo1.jpg" alt="Logo">
            </a>
        </div>
        <nav class="header-menu">
            <ul class="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/mainAllpage/allpage">보호중인 아이들</a></li>
                <li><a href="/admission/list?reqPage=1">입소신청</a></li>
                <li><a href="/adoption/list?reqPage=1">입양신청목록</a></li>
                <li><a href="/review/list?reqPage=1">입양사진 및 후기</a></li>
                <li><a href="/mainAllpage/Directions">오시는길</a></li>
            </ul>
        </nav>
    </div>
</header>
