<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입양가능한 아이 글쓰기</title>
    <link rel="stylesheet" href="/css/writeFrm.css">
</head>
<body>

    <div class="container">
        <h2>입양가능한 아이 글쓰기</h2>
        <hr>
        <form method="post" th:action="@{/mainAllpage/write}">
            <div class="header">
                <input type="text" id="title" name="protectTitle" placeholder="제목을 입력하세요" />
            </div>

            <div class="form-row">
                <div class="form-group">
					<label for="name">동물이름</label>
					<input type="text" id="name" name="animalName" placeholder="이름" />
                </div>
                <div class="form-group">
                    <label for="age">동물나이</label>
                    <input type="text" id="age" name="animalAge" placeholder="나이" />
                </div>
            </div>

            <div class="content-box">
                <textarea id="content" name="protectContent" rows="6" placeholder="내용을 작성하세요."></textarea>
            </div>

            <div class="buttons">
                <a href="/mainAllpage/allpage">
                    <button type="button">목록으로</button>
                </a>
                <button type="button" onclick="confirminsert()">작성하기</button>
            </div>
        </form>
    </div>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">

	<script>
	$('#content').summernote({
	    height: 600,
	    callbacks: {
	        onImageUpload: function(files) {
	            for (let i = 0; i < files.length; i++) {
	                uploadImage(files[i]);
	            }
	        }
	    }
	});

	function uploadImage(file) {
	    let formData = new FormData();
	    formData.append("upfile", file);

		$.ajax({
		    url: "/mainAllpage/editorImage",
		    type: "POST",
		    data: formData,
		    contentType: false,
		    processData: false,
		    success: function(url) {
		        $('#content').summernote('insertImage', url);
		    },
		    error: function(xhr, status, error) {
		        console.log("AJAX 에러", status, error);
		        alert("이미지 업로드 실패");
		    }
		});
	}
	function confirminsert() {
		    swal({
		        title: "글쓰기 확인",
		        text: "정말 글을 작성하시겠습니까?",
		        icon: "warning",
				buttons: {
				            cancel: "취소",
				            confirm: "확인"
				        },
		        dangerMode: true
		    }).then((willUpdate) => {
		        if (willUpdate) {
		            document.querySelector('form').submit();
		        }
		    });
		}
	</script>
	
	
    <th:block th:include="common/footer"></th:block>
</body>
</html>
