<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/notice.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
	#pageNavi{
		margin-top: 30px;
	}
	.noticeX{
		width: 1200px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section">
			<div class="page-title">공지사항</div>	
			<div class="searchTitle">
				<form action="/notice/searchTitle" method="get">
					<input type="text" name="searchTitle" placeholder="제목을 입력해주세요.">
					<input type="hidden" name="reqPage" id="reqPage" value="1">	
					<button type="submit">				
						<span class="material-icons">search</span>		
					</button>				
				</form>
			</div>
			<table class="tbl tbl-hover">
				<tr>
					<th style="width: 10%">NO</th>
					<th style="width: 50%">제목</th>
					<th style="width: 20%">작성일</th>
					<th style="width: 20%">작성자</th>
				</tr>
				<tr th:each="notice : ${list}">
					<th:block th:if="${list!='작성된 게시글이 존재하지 않습니다.'}">
					<td th:text="${notice.noticeNo}"></td>
					<td>
						<a th:href="@{/notice/view(noticeNo=${notice.noticeNo})}"
   							th:text="${notice.noticeTitle}"></a>
					</td>
					<td th:text="${notice.noticeDate}"></td>
					<td th:text="${notice.memberId}"></td>
					</th:block>
				</tr>
				<th:block th:if="${list =='작성된 게시글이 존재하지 않습니다.'}">
						<td> </td>
						<td class="noticeX" th:text="${list}"></td>
						<td> </td>
						<td> </td>
					</th:block>
			</table>
			<button class="insertNotice" th:if="${session.member != null && session.member.memberLevel == 1}">
				<a href="/notice/insertFrm">작성하기</a>
			</button>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>