<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/adoptionList.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section">
			<div class="page-title">입양신청목록</div>
			<div>
				<table class="tbl tbl-hover">
					<tr>
						<th style="width:10%">NO</th>
						<th style="width:50%">제목</th>
						<th style="width:20%">작성일</th>
						<th style="width:20%">작성자</th>
					</tr>
					<tr th:each="adoption : ${list}">
						<td th:text="${adoption.adoptionNo}"></td>
						<td>
							<a th:href="@{/adoption/view(adoptionNo=${adoption.adoptionNo})}" th:text="${adoption.adoptionTitle}"></a>
						</td>
						<td th:text="${adoption.adoptionDate}"></td>
						<td th:text="${adoption.memberId}"></td>
					</tr>
				</table>
			</div>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>