<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/adoption.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section">
			<div class="page-title">입양신청목록</div>
			<div class="searchTitle">
				<form action="/adoption/searchTitle" method="get">
					<input type="text" name="searchTitle" placeholder="제목을 입력해주세요.">
					<input type="hidden" name="reqPage" id="reqPage" value="1">
					<button type="submit">
						<span class="material-icons">search</span>
					</button>
				</form>
			</div>
			<div>
				<table class="tbl tbl-hover">
					<tr>
						<th style="width:10%">NO</th>
						<th style="width:50%">제목</th>
						<th style="width:20%">작성일</th>
						<th style="width:20%">작성자</th>
					</tr>
					<tr th:each="adoption : ${list}">
						<td th:text="${adoption.adoptionNo}"></td>
						<td>
							<span class="material-icons lock">lock_outline</span>
							<a href="javascript:void(0);" 
  							 th:onclick="checkAccess([[${adoption.adoptionNo}]], '[[${adoption.memberId}]]')"
   							th:text="${adoption.adoptionTitle}"></a>
						</td>
						<td th:text="${adoption.adoptionDate}"></td>
						<td th:text="${adoption.memberId}"></td>
					</tr>
				</table>
			</div>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		</section>
	</main>
	<script th:inline="javascript">
    const memberId = /*[[${session.member != null ? session.member.memberId : 'null'}]]*/ 'null';
    const memberLevel = /*[[${session.member != null ? session.member.memberLevel : 0}]]*/ 0;

    function checkAccess(adoptionNo, memberId) {
        // 1. 관리자면 바로 이동
        if (memberLevel === 1) {
            location.href = "/adoption/view?adoptionNo=" + adoptionNo;
            return;
        }

        // 2. 작성자 본인 → 바로 이동
        if (memberId === memberId) {
            location.href = "/adoption/view?adoptionNo=" + adoptionNo;
            return;
        }

        // 3. 그 외 사용자 접근 불가
        swal("해당 글은 작성자와 관리자만 열람할 수 있습니다.","","warning");
    }
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>