<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>입양신청 목록</title>
<link rel="stylesheet" href="/css/adoption.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<style>
	.tbl.tbl-hover tbody > tr:hover {
	  cursor: pointer;
	  background-color: rgba(255, 178, 44, 0.05);
	}
	.notFoundList{
		width: 1200px;
	}
</style>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section">
			<div class="page-title">입양신청목록</div>
			<div class="searchTitle">
				<form action="/adoption/searchTitle" method="get">
					<input type="text" name="searchTitle" placeholder="제목을 입력해주세요.">
					<input type="hidden" name="reqPage" id="reqPage" value="1">
					<button type="submit">
						<span class="material-icons">search</span>
					</button>
				</form>
			</div>
			<div>
				<table class="tbl tbl-hover">
					<tr>
						<th style="width:10%">NO</th>
						<th style="width:50%">제목</th>
						<th style="width:20%">작성일</th>
						<th style="width:20%">작성자</th>
					</tr>
					<tr th:each="adoption : ${list}">
						<th:block th:if="${list != '작성된 게시글이 존재하지 않습니다.'}">
						<td th:text="${adoption.adoptionNo}"></td>
						<td th:onclick="checkAccess([[${adoption.adoptionNo}]], '[[${adoption.memberId}]]')">
							<span class="material-icons lock">lock_outline</span>
   							<span th:text="${adoption.adoptionTitle}"></span>
						</td>
						<td th:text="${adoption.adoptionDate}"></td>
						<td th:text="${adoption.memberId}"></td>
						</th:block>
					</tr>
					<th:block th:if="${list == '작성된 게시글이 존재하지 않습니다.'}">
						<td> </td>
						<td class="notFoundList" th:text="${list}"></td>
						<td> </td>
						<td> </td>
					</th:block>
				</table>
			</div>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		</section>
	</main>
	<script th:inline="javascript">
    const memberId = /*[[${session.member != null ? session.member.memberId : 'null'}]]*/ 'null';
    const memberLevel = /*[[${session.member != null ? session.member.memberLevel : 0}]]*/ 0;

    function checkAccess(adoptionNo, memberId) {
        if (memberLevel === 1) {
            location.href = "/adoption/view?adoptionNo=" + adoptionNo;
            return;
        }

        if (memberId === memberId) {
            location.href = "/adoption/view?adoptionNo=" + adoptionNo;
            return;
        }

        swal("해당 글은 작성자와 관리자만 열람할 수 있습니다.","","warning");
    }
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>
