<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main>
		<section>
			<div>
				<p th:text="${a.adoptionTitle}"></p>
				<p th:text="${session.adoption.memberId}"></p>
			</div>
			<div>
				<a th:href="@{/adoption/updateFrm(adoptionNo=${a.adoptionNo})}">수정</a>
				<a th:onclick="deleteAdoption([[${a.adoptionNo}]])">삭제</a>
			</div>
			<div>입양 희망자 정보</div>
			<table>
				<tr>
					<th>이름</th>
					<td>
						<span th:text="${session.member.memberName}"></span>
					</td>
					<th>전화번호</th>
					<td>
						<span th:text="${session.member.memberPhone}"></span>
					</td>
					<th>주소</th>
					<td>
						<span th:text="${session.member.memberAddr}"></span>
					</td>
					<th>입양동기</th>
					<td>
						<span th:text="${adoption.adoptionContent}"></span>
					</td>
				</tr>
			</table>
			<div>아이 정보</div>
			<table>
				<tr>
					<th>이름</th>
					<td>
						<span th:text="${session.animal.animalName}"></span>
					</td>
					<th>품종</th>
					<td>
						<span th:text="${session.animal.animalType}"></span>
					</td>
				</tr>
				<tr>
					<td>
						<button type="button" onclick="/adoption/list">목록으로</button>
					</td>
				</tr>
			</table>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>