<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>입소신청</title>
<link rel="stylesheet" href="/css/admission.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
	#pageNavi{
		margin-top: 30px;
	}
	.admissionX{
		width: 1200px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section">
			<div class="page-title">입소신청</div>
			<div class="searchTitle">
				<form action="/admission/searchTitle" method="get">
					<input type="text" name="searchTitle" placeholder="제목을 입력해주세요.">
					<input type="hidden" name="reqPage" id="reqPage" value="1">	
					<button type="submit">				
						<span class="material-icons">search</span>		
					</button>				
				</form>
			</div>
			<table class="tbl tbl-hover">
				<tr>
					<th style="width: 10%">NO</th>
					<th style="width: 50%">제목</th>
					<th style="width: 20%">작성일</th>
					<th style="width: 20%">작성자</th>
				</tr>
				<tr th:each="admission : ${list}">
					<th:block th:if="${list!='작성된 게시글이 존재하지 않습니다.'}">
					<td th:text="${admission.admissionNo}"></td>
					<td>
						<span class="material-icons lock">lock_outline</span>
						<a href="javascript:void(0);" 
  							 th:onclick="checkAccess([[${admission.admissionNo}]], '[[${admission.memberId}]]')"
   							th:text="${admission.admissionTitle}"></a>
					</td>
					<td th:text="${admission.admissionDate}"></td>
					<td th:text="${admission.memberId}"></td>					
					</th:block>
				</tr>
					<th:block th:if="${list =='작성된 게시글이 존재하지 않습니다.'}">
						<td> </td>
						<td class="admissionX" th:text="${list}"></td>
						<td> </td>
						<td> </td>
					</th:block>
			</table>
			<button class="insertAdmission" th:if="${session.member != null}">
				<a href="/admission/insertFrm">작성하기</a>
			</button>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		</section>
	</main>
	<script src="/js/sweetalert.min.js"></script>
	<script th:inline="javascript">
    const memberId = /*[[${session.member != null ? session.member.memberId : 'null'}]]*/ 'null';
    const memberLevel = /*[[${session.member != null ? session.member.memberLevel : 0}]]*/ 0;

    function checkAccess(admissionNo, memberId) {
        // 1. 관리자면 바로 이동
        if (memberLevel === 1) {
            location.href = "/admission/view?admissionNo=" + admissionNo;
            return;
        }
		if(memberId === 'null'){
			swal("로그인 후 이용 가능합니다.","")
		}
        // 2. 작성자 본인 → 바로 이동
        if (memberId === memberId) {
            location.href = "/admission/view?admissionNo=" + admissionNo;
            return;
        }

        // 3. 그 외 사용자 접근 불가
        swal("해당 글은 작성자와 관리자만 열람할 수 있습니다.","","warning");
    }
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>