html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f0f0f0;
}
.content{
	margin: 0 auto;
}
.section{	
	width: 1200px;
	padding: 20px;
	background-color: #ffffff;
	margin: 20px;
	border-radius: 8px;
}
.page-title{
	font-size: 24px;
	font-weight: 600;
	color: #854836;
	padding-bottom: 20px;
}
.tbl{
	border-top: 1px solid #000000;
	width: 100%;
	border-spacing: 0; 
}
.tbl th,
.tbl td{
	text-align: center;
	border-bottom: 1px solid #888888;
	padding: 10px 20px;
}