html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f0f0f0;
}

.container {
    max-width: 1400px;
	width: 1400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
	flex: 1;
}


main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    flex: 1;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0 20px 0;
    width: 100%;
}

.contact-info {
	margin-top: 30px;
	font-size: 18px;
	color: #555;
	padding-bottom: 100px;
}

.contact-info p {
	margin: 5px 0;
	font-size: 18px;
	color: #777;
}
		
.address-wrap {
	margin-bottom: 20px;
}

.address-wrap h3 {
	font-size: 20px;
	margin-bottom: 5px;
	color: #555;
}

.address-wrap p {
	font-size: 18px;
	color: #777;
}
