html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f0f0f0;
}

.container {
    max-width: 1400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

main {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.dots-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.dots span {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.dots span.active {
    opacity: 1;
}

.main-page h2 {
	padding-top: 10px;
    padding-bottom: 30px;
}

.all-card {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.card-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 5px;
}

.card-info h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.like {
    font-size: 14px;
    color: #ff4d4d;
}

.date {
    margin: 2px 0 0 0;
    font-size: 14px;
    color: #666;
}

.card {
    background: #fafafa;
    width: 250px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.card-container h3 {
    margin-top: 5px;
    margin-left: 0;
    text-align: left;
    font-size: 16px;
    color: #333;
}

.more-btn-container {
    text-align: center;
    margin-top: 30px;
}

.more-btn {
    padding: 8px 30px;
    font-size: 16px;
    border: none;
    background: #FFB22C;
    color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0 auto;
    transition: all 0.2s ease; 
}

.more-btn:active {
    transform: scale(0.95); 
    background: #e6a81c;   
}

.more-btn:hover {
    background: #FFB22C;
	transform: translateY(-2px);
}
.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
	padding-top: 10px;
}

.title-row h2{
	padding-left: 10px;
	
}

.title-row a {
    font-size: 16px;
    color: #666; 
    text-decoration: none; 
    transition: all 0.2s ease;
	padding-right: 10px;
}

.title-row a:hover {
    color: #333; 
    text-decoration: underline;
}
