<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.admission.model.dao.AdmissionDao">

  <select id="selectAdmissionCount" resultType="int">
  	select count(*) from admission
  </select>
  <select id="selectAdmissionList" resultType="admission">
  	select * from
	    	(select rownum as rnum, n.* from
	        	(select 
	            	admission_no, admission_title, member_id, admission_date 
	        	from admission order by admission_no desc
	        	)n
	    	)
		where #{start} <![CDATA[ <= ]]> rnum and rnum <![CDATA[ <= ]]> #{end}
  </select>
  <select id="searchTitleCount" resultType="int">
  	select count(*) from admission where admission_title like '%'||'${searchTitle}'||'%'
  </select>
  <select id="searchTitleAdmission" resultType="admission"> 	
	select * from
	    	(select rownum as rnum, n.* from
	        	(select 
	            	admission_no, admission_title, member_id, admission_date 
	        	from admission where admission_title like '%'||${searchTitle}||'%' 
	        	order by admission_no desc
	        	)n
	    	)
		where #{start} <![CDATA[ <= ]]> rnum and rnum <![CDATA[ <= ]]> #{end}
  </select>
  <select id="selectOneAdmission" resultType="admission">
  	select * from admission where admission_no = ${admissionNo}
  </select>
  <delete id="deleteAdmissionNo">
  	delete from admission where admission_no = ${admissionNo}
  </delete>
</mapper>
