<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.animal.model.dao.AnimalDao">
 <select id="selectAnimalNo" resultType="animal">
 	select * from animal where animal_no = ${animalNo}
 </select>
 <insert id="insertAnimal">
 	insert into animal(animal_no, animal_type, animal_name, animal_gender, animal_age, animal_inocul, animal_neuter, member_no, animal_admission) 
 	values(animal_seq.nextval,#{animalType},#{animalName},#{animalGender},#{animalAge},#{animalInocul},#{animalNeuter},#{memberNo},'N')
 </insert>
 <select id="searchAnimalNo" resultType="int">
 	select animal_no from(select animal_no from animal where member_no = #{memberNo} order by animal_no desc) where rownum = 1
 </select>
 <update id="updateAnimal">
 	update animal set 
 		animal_name = #{animalName},
 		animal_type = #{animalType},
 		animal_age = #{animalAge},
 		animal_gender = #{animalGender},
 		animal_inocul = #{animalInocul},
 		animal_neuter = #{animalNeuter}
 	where animal_no = #{animalNo}
 </update>
 <update id="admissionCheck">
 	update animal set animal_admission = 'Y' where animal_no = #{animalNo}
 </update>
 <select id="selectAnimalCount" resultType="int">
 	select count(*) from animal
 </select>
  	 <select id="selectAnimalList" resultType="animal">
 	select * from
	    	(select rownum as rnum, n.* from
	        	(select 
                    animal_no, 
                    animal_type, 
                    animal_name, 
                    animal_gender, 
                    animal_age, 
                    animal_inocul, 
                    animal_neuter, 
                    member_no,
                    animal_admission 
                    from animal
                    join member_tbl using (member_no)
                    order by animal_no
	        	)n
	    	)
		where rnum between #{start} and #{end}
 </select>
 <update id="changeAdmission">
 	update animal set
 		<if test="animalAdmission != null">
 			animal_admission=#{animalAdmission},
 		</if>
 		<if test="animalInocul != null">
 			animal_inocul=#{animalInocul},
 		</if>
 		<if test="animalNeuter != null">
 			animal_neuter=#{animalNeuter} 
 		</if>
 	where animal_no=#{animalNo}
 </update>
</mapper>
