<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.protect.model.dao.ProtectDao">

    <select id="selectAnimalNoList" parameterType="kr.co.iei.animal.model.vo.Animal" resultType="int">
        SELECT animal_no
        FROM animal
        WHERE animal_name = #{animalName}
          AND animal_age = #{animalAge}
    </select>

    <insert id="insertProtect" parameterType="kr.co.iei.protect.model.vo.Protect">
        INSERT INTO protect_tbl 
            (protect_no, protect_title, protect_content, protect_date, member_no, animal_no)
        VALUES 
            (#{protectNo}, #{protectTitle}, #{protectContent}, SYSDATE, #{memberNo}, #{animalNo})
    </insert>

    <select id="getNextProtectNo" resultType="int">
        SELECT protect_seq.NEXTVAL FROM dual
    </select>

    <select id="selectAllProtect" resultType="kr.co.iei.protect.model.vo.Protect">
        SELECT protect_no, protect_title, protect_content, protect_date, member_no, animal_no, protect_status
        FROM protect_tbl
        ORDER BY protect_no DESC
    </select>

    <select id="selectPageProtect" resultType="kr.co.iei.protect.model.vo.Protect">
        SELECT * FROM (
            SELECT ROW_NUMBER() OVER (ORDER BY protect_no DESC) AS rnum,
                   p.protect_no, p.protect_title, p.protect_date, p.protect_content, p.protect_status,
                   p.member_no, p.animal_no
            FROM protect_tbl p
        )
        WHERE rnum BETWEEN #{start} AND #{end}
    </select>

    <select id="selectTotalCount" resultType="int">
        SELECT COUNT(*) FROM protect_tbl
    </select>

    <select id="selectOneProtect" resultType="kr.co.iei.protect.model.vo.Protect" parameterType="int">
        SELECT protect_no, protect_title, protect_content, protect_date, member_no, animal_no, protect_status
        FROM protect_tbl
        WHERE protect_no = #{protectNo}
    </select>

    <select id="selectAnimal" resultType="kr.co.iei.animal.model.vo.Animal" parameterType="int">
        SELECT * FROM animal WHERE animal_no = #{animalNo}
    </select>

    <select id="selectMember" resultType="kr.co.iei.member.model.vo.Member" parameterType="int">
        SELECT * FROM member_tbl WHERE member_no = #{memberNo}
    </select>

    <update id="updateProtectContent" parameterType="kr.co.iei.protect.model.vo.Protect">
        UPDATE protect_tbl
        SET protect_content = #{protectContent}
        WHERE protect_no = #{protectNo}
    </update>
	
	<select id="selectAnimalByNameAndAgeList" parameterType="kr.co.iei.animal.model.vo.Animal" resultType="kr.co.iei.animal.model.vo.Animal">
    SELECT * FROM animal
    WHERE animal_name = #{animalName} AND animal_age = #{animalAge}
	</select>
	
	<select id="selectAnimalNoListByNo" parameterType="int" resultType="int">
    SELECT protect_no
    FROM protect_tbl
    WHERE animal_no = #{animalNo}
	</select>

    <select id="selectProtectLike" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM protect_like
        WHERE member_no = #{memberNo} AND protect_no = #{protectNo}
    </select>

    <insert id="insertProtectLike" parameterType="map">
        INSERT INTO protect_like(member_no, protect_no)
        VALUES (#{memberNo}, #{protectNo})
    </insert>

    <delete id="deleteProtectLike" parameterType="map">
        DELETE FROM protect_like
        WHERE member_no = #{memberNo} AND protect_no = #{protectNo}
    </delete>

    <select id="selectLikeCount" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM protect_like
        WHERE protect_no = #{protectNo}
    </select>

	<update id="updateProtectStatus">
	    update protect_tbl set protect_status = #{status} where protect_no = #{protectNo}
	</update>
</mapper>
