<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.AllPage.model.dao.AllPageDao">

    <select id="selectAnimalNo" parameterType="kr.co.iei.animal.model.vo.Animal" resultType="int">
        SELECT animal_no
        FROM animal
        WHERE animal_name = #{animalName}
        AND animal_age = #{animalAge}
    </select>
    
    <insert id="insertProtect" parameterType="kr.co.iei.AllPage.model.vo.AllPage">
        INSERT INTO protect_tbl 
            (protect_no, protect_title, protect_content, protect_date, member_no, animal_no)
        VALUES 
            (#{protectNo}, #{protectTitle}, #{protectContent}, SYSDATE, #{memberNo}, #{animalNo})
    </insert>

    <select id="getNextProtectNo" resultType="int">
        SELECT protect_seq.NEXTVAL FROM dual
    </select>
    
    <select id="selectPageProtect" resultType="kr.co.iei.AllPage.model.vo.AllPage">
    SELECT * FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY protect_no DESC) AS rnum,
               p.protect_no, p.protect_title, p.protect_date
        FROM protect_tbl p
    )
    WHERE rnum BETWEEN #{start} AND #{end}
	</select>

	<select id="selectTotalCount" resultType="int">
	    SELECT COUNT(*) FROM protect_tbl
	</select>
	
	<select id="selectOneProtect" resultType="allpage" parameterType="int">
    SELECT * FROM protect_tbl WHERE protect_no = #{protectNo}
	</select>
	
	<select id="selectAnimal" resultType="animal" parameterType="int">
	    SELECT * FROM animal WHERE animal_no = #{animalNo}
	</select>
	
	<select id="selectMember" resultType="member" parameterType="int">
	    SELECT * FROM member_tbl WHERE member_no = #{memberNo}
	</select>
	
    
</mapper>