<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.review.model.dao.ReviewDao">

	<select id="reviewList" resultType="review">
		select * from
		(select rownum as rnum, n.* from
		(select
		review_no,
		review_content, review_title, review_date
		from animal_review order by
		review_no desc
		)n
		)
		where #{start} <![CDATA[ <= ]]>
		rnum and rnum <![CDATA[ <= ]]>
		#{end}
	</select>

	<select id="selectReviewList" resultType="int">
		select count(*) from
		animal_review
	</select>

	<select id="searchTitleCount" resultType="int">
		select count(*) from
		animal_review where review_title like
		'%'||'${searchTitle}'||'%'
	</select>

	<select id="searchTitleReview" resultType="review">
		select * from
		(select rownum as rnum, n.* from
		(select
		review_no,
		review_content, review_title, review_date
		from animal_review order by
		review_no desc
		)n
		)
		where #{start} <![CDATA[ <= ]]>
		rnum and rnum <![CDATA[ <= ]]>
		#{end}
	</select>

	<delete id="deleteReviewNo">
		delete from animal_review where review_no
		=${reviewNo}
	</delete>

	<insert id="reviewWrite">
		INSERT INTO animal_review
		(review_no, review_title, review_content, review_date, member_no, animal_no,
		adoption_no)
		VALUES (
		review_seq.nextval,
		#{reviewTitle},
		#{reviewContent},
		TO_CHAR(SYSDATE, 'yyyy-mm-dd'),
		#{memberNo},
		#{animalNo,jdbcType=INTEGER},
		#{adoptionNo,jdbcType=INTEGER}
		)
	</insert>


	<select id="selectOneReview" resultType="review">
		SELECT
		review_title AS reviewTitle,
		review_no AS reviewNo,
		review_content AS reviewContent,
		member_no AS memberNo,
		review_date AS reviewDate
		FROM animal_review
		WHERE review_no = #{reviewNo}
	</select>

	<update	id="updateReview">
		update animal_review
		set review_title = #{reviewTitle},
			review_content = #{reviewContent},
			review_date = to_char(sysdate,'yyyy-mm-dd')
		where review_no = #{reviewNo}
	</update>
	
	<insert id="insertLike">
		insert into post_like
		(review_no, member_no)
		values (
		#{reviewNo},
		#{memberNo}
		)
	</insert>
	
	<delete id="deleteLike">
		delete from post_like
		(review_no, member_no)
		values (
		#{reviewNo},
		#{memberNo}
		)
	</delete>
	
	<select id="selectLikeCount" resultType = "int">
		select from post_like
		where review_no = #{reviewNo}
	</select>
	
</mapper>
